---
import type { CollectionEntry } from "astro:content";
import Section from "@/layouts/Section.astro";
import ProjectCard from "@/components/projects/ProjectCard.astro";
import { Icon } from "astro-icon/components";

interface Props {
  projects: CollectionEntry<"projects">[];
  t: Record<string, any>;
  lang: "es" | "en";
}

const { projects, t, lang } = Astro.props;
---

<Section title={t.projects_section.title} id="projects">
  <Icon
    name="lucide:code-2"
    slot="icon"
    class="size-10 md:size-12 translate-y-1 text-accent"
  />

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      projects.map((project) => (
        <ProjectCard
          project={project}
          lang={lang}
          techDictionary={t.technologies}
        />
      ))
    }
  </div>

  <div class="text-center mt-12">
    <a
      href={`/${lang}/projects`}
      class="inline-block px-7 py-4 border border-accent text-accent font-mono text-lg rounded hover:bg-accent/30 transition-all duration-300"
    >
      {t.projects_section.view_all_button}
    </a>
  </div>
</Section>

<script>
  import { animate, inView } from "motion";

  function animateProjects() {
    const projectCards = document.querySelectorAll("[data-animate-project]");

    projectCards.forEach((card) => {
      inView(
        card,
        () => {
          const animation = animate(
            card,
            { opacity: 1,  },
            { duration: 0.8, ease: "ease-out" }
          );

          animation.finished.then(() => {
            card.classList.remove("opacity-0",);
          });
        },
        {   amount: 0.2 }
      );
    });
  }

  document.addEventListener("astro:page-load", animateProjects);
</script>
